.tab-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  .tab-container {
    flex-direction: row;
  }
}
  
  .table-container {
    flex: 1;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    max-height: 75vh; /* set a maximum height */
    overflow-y: auto; /* enable vertical scrollbar */
  }
  
  .chart-container {
    flex: 0;
    padding-left: 10px;
  }

  @media (min-width: 768px) {
    .chart-container {
      display: flex;
      flex-direction: row;
    }
  }
  
  @media (max-width: 767px) {
    .chart-container {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (min-width: 992px) {
    .chart-container {
      flex: 3;
    }
  }
  